<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Bilan global de l’année </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Juillet - Septembre</p>
              <div class="h5">ASSAD /Judy/LANDOR/Wysys interne</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
            
               <ul>
                <br>
                <li> Upgrade HANA avec réplication via HANA Studio – ASSAD </li>
                    <li>Upgrade HANA  avec suse cluster HANA – Wynsys interne</li>
                 <li>Gestion des rôles et des autorisations </li>
                 <li>Suivi des alertes et incidents via SolMan et resolution des probléme de mémoire via hana studio </li>
                 <li>Administration Fiori</li>
                 <li>Upgrade du système d’exploitation SUSE HA – Wynsys interne</li>
                 <li>Upgrade de S/4HANA HA – Wynsys interne</li>
                 <li>Upgrade S4/HANA - Landor</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Octobre - Décembre</p>
              <div class="h5">ASSAD /Judy/Sotacib/LANDOR/Wysys interne</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <ul>
                <br>
                <li>Gestion des incidents liés aux bases de données HANA et Sybase
                  
                    </li>
                                  <li>
                                    Gestion des rôles et autorisations</li> 
                                    <li>Participation au projet Move to RISE – Landor</li>
                                   <li> Administration des systèmes de fichiers NFS </li>
                                   <li> Création, Gestion des jobs
                                  </li>
                                  <li>Upgrade de l’environnement de production HA –ASSAD</li>
                                  <li>Redémarrage  des systèmes en haute disponibilité – ASSAD </li>
                                  <li> Gestion des problèmes d'impression 
                                  </li>
                                                <li>
                                                  Traitement des problèmes de mémoire système
                                                  
                                                </li>
                                                <li> Montée en compétence avancée sur HANA Studio

Exécution d’upgrades HANA avec réplication <br>

Analyse approfondie des traces SQL  <br>

Suivi des backups en temps réel <br>

Optimisation de la supervision via les outils intégrés</li>
                                                <li>Renouvellement des certificats SAPRouter </li>
                                                <li>Affichage des transactions spécifiques selon les profils et groupes</li>
                                                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Janvier - Mars</p>
              <div class="h5">ASSAD /Judy/Coficab/LANDOR/Wysys interne</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
             <br>
             <br>
             
               <ul>
                <li>	Gestion et création des rôles
                </li>
               
                <li>Gestion des impressions
                  
                </li>
                              <li>
                               Administration de Fiori
                                
                              </li>
                              <li> Gestion des jobs</li>
                              <li>Visite COFICAB
 </li>
                              <li>Upgrade des systèmes DEV, QUAL et PRE-PROD – Ozeol </li>
                              <li>System Refresh – Ozeol </li>
                               <li>Gestion des connexions RFC – Ozeol </li>
                               <li>Configuration du STMS </li>
                               <li> Surveillance des performances I/O sur HANA via HANA Studio et optimisation des accès disques.</li>
                              


                            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Avril - Juillet</p>
              <div class="h5">Salins/LEYGATECH/Judy/Wysys interne</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              
               <ul>
                <br>
                <li>Création et gestion des roles et des autorisations (Matrice fiori) -Projet LEYGATECH
                  
                    </li>
                                  <li>
                                      Installation content server - Wynsys interne</li> 
                                    <li> System refresh - Judy </li>
                                   <li> Formation Spaces et pages Fiori</li>
                                   <li> Administration des espaces et pages Fiori : création, personnalisation, affectation ... - Salins
                                  </li>
                                  <li> Activation  ATO </li>
                                  <li>Gestion des problèmes liés aux queries - Salins </li>
                                  <li>Gestions des utilisateurs - Salins </li>
                                  <li>Mise à jour de la matrice Fiori – Module MM</li>
                              
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
